*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Comfortaa', sans-serif;
}
body{
	background-color: #F47D84;
}


.prefReset{
	margin-top: -2%;
	position: absolute;
	padding: 4px 4px;
	background-color: transparent;
	border: 2px solid #CF232D;
	color: #fff;
	border-radius: 5px;
}
.prefReset:hover{
	font-weight: bold;
	background-color: #CF232D;
}

.userprf{
	padding-top: 15px;
	text-align: right;
	margin-right: 20px;
}
.userprf a{
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	font-size: 20px;
}
.userprf a:hover{
	color: #4C2424;
	text-shadow: #CF232D 1px 0 10px;
}


.header{
	margin-top: 10px;
	padding-top: 10px;
	width: 100%;
	height: 120vh;
	position: absolute;
	
}
nav{
	width: 100%;
	padding: 23px;
	text-align: center;
}
nav a{
	text-decoration: none;
	text-justify: auto;
	margin: 20px 30px;
	color: #fff;
	font-weight: bolder;
	background-color: transparent;
	font-size: 23px;
}
nav a:hover{
	text-decoration: underline #CF232D 6px;
	text-underline-offset: 6px;
	color: #4C2424;
	font-size: 22px;
	text-shadow: 2px 2px 8px #CF232D;
}





/*Container Attributes*/


.container{
	position: absolute;
	width: 80%;
	margin-top: 18%;
	margin-left: 10%;
	background-color: #fff;
}
.container-box{
	background: #fff;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
	background-color: #fff;
}
.contact-right{
	flex-basis: 40%;
	padding: 40px;
	background: #CF232D;
	color: #fff;
}





/*Container Display Labeling*/



.phrase{
	margin-top: -30%;
	font-size: 50px;
	font-weight: bolder;
	color: #F47D84;
}
.container p{
	font-weight: bolder;
	margin-top: 6%;
	background-color: transparent;
	margin-bottom: 5%;
	max-width: 80%;
	margin-left: 10%;
	color: #F47D84;
}

h3{
	margin-bottom: 2%;
	color: #fff;
	background-color: transparent;
}








/*Container Contact-left*/



.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	background: #fff;
	color: #CF232D;
}

.input-row, .input-group{
	flex-basis: 45%;
	background-color: transparent;
}

label{
	background-color: transparent;
	color: #CF232D;
	font-weight: bolder;
	display: block;
	margin-bottom: 6%;
}

input{
	width: 100%;
	background-color: transparent;
	color: #8D8A88;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;

}

form{
	background-color: transparent;
}

textarea{
	width: 100%;
	border: 1px solid #ccc;
	background-color: #fff;
	outline: none;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5%;
}

button{
	background: #F47D84;
	width: 25%;
	border: none;
	outline: none;
	height: 15%;
	color: #fff;
	border-radius: 25%;
	box-shadow: 4px 4px 2px #CF232D;
	margin-top: 5%;
}

.contact-left h3{
	color: #CF232D;
	font-weight: bold;
	margin-bottom: 10%;
	text-shadow: 2px 2px 1px #F47D84;
}







/*Container Contact-Right*/


.contact-right h3{
	color: #fff;
	font-weight: bold;
	margin-bottom: 10%;
	text-shadow: 2px 2px #F47D84;
}

table{
	background-color: transparent;
}

tr td:first-child{
	padding-right: 50px;
	background-color: transparent;
}

tr td{
	padding-top: 20px;
	background-color: transparent;
}

td a{
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

td a:hover{
	background-color: #fff;
	color: #CF232D;
	border-radius: 8%;
	padding: 10px;
	box-shadow: 4px 4px 2px black;
}


.navsym{
	visibility: hidden;
}
.arrowsym{
	visibility: hidden;
}








/*Scroll Bar*/



::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track{
	background: #EBBABD;
}
::-webkit-scrollbar-thumb{
	background: white;
	border-radius: 10px;
	opacity: 80%;
}





/*Responsive features*/

@media screen and (max-width: 900px){

	nav a{
		font-size: 15px;
	}
	.header{
		height: 130vh;
		position: absolute;
	}
	.container{
		margin-top: 40%;
	}
	.contact-right{
		width: 100%;
		margin-top: 180%;
		position: absolute;
	}
	.contact-right tr{
		font-size: 13px;
	}
	.input-row{
		display: inline-table;
	}
	.input-group{
		margin-top: -10%;
		width: 200%;
	}
	label{
		margin-top: 8%;
	}
	button{
		width: 50%;
	}
	nav{
		margin: 0;
		visibility: hidden;
		max-width: 100%;
		position: relative;
		margin-top: 13%;
	}
	nav a{
		padding-top: 3%;
		padding-bottom: 3%;
		padding-right: 35%;
		margin-left: 2%;
		display: flow;
		padding-left: 70%;
		border: solid black 1px;
	}
	nav a:hover{
		font-size: 12px;
	}


	.navsym{
		visibility: visible;
		position: absolute;
		margin-top: 5%;
		margin-left: 70%;
		background-color: transparent;
	}
	.navsym:hover{
		background-color: rgba(237, 132, 172, 0.2);
	}

	.arrowsym{
		visibility: hidden;
		background-color: transparent;
		width: 100px;
		height: 15vh;
		margin-top: -6%;
		position: absolute;
		margin-left: 70%;
	}
	.arrowsym:hover{
		background-color: rgba(237, 132, 172, 0.2);
	}
}
