*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Comfortaa', sans-serif;
	background-color: #F47D84;
}


.userprf{
	padding-top: 15px;
	text-align: right;
	margin-right: 20px;
}
.userprf a{
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	font-size: 20px;
}
.userprf a:hover{
	color: #4C2424;
	text-shadow: #CF232D 1px 0 10px;
}

.header{
	margin-top: 10px;
	padding-top: 10px;
	width: 100%;
	height: 100vh;
	background-color: #E8E2DB;
}
nav{
	width: 100%;
	padding: 23px;
	text-align: center;
}
nav a{
	text-decoration: none;
	text-justify: auto;
	margin: 20px 30px;
	color: #fff;
	font-weight: bolder;
	background-color: transparent;
	font-size: 23px;
}
nav a:hover{
	text-decoration: underline #CF232D 6px;
	text-underline-offset: 6px;
	color: #4C2424;
	font-size: 22px;
	text-shadow: 2px 2px 8px #CF232D;
}



.greeting{
	color: #E8E2DB;
	font-size: 95px;
	text-align: center;
	margin-top: -40%;
	padding-top: 2%;
	padding-bottom: 2%;
}









/*  Tier 2   */



.disclaimer{
	color: #304B70;
	font-size: 45px;
	text-align: center;
	margin-top: 16%;
	animation: mover 4s linear infinite;
}

@keyframes mover{
	0%{
		text-shadow: 0 0 30px rgba(0, 0, 0, 0);
	}
	50%{
		text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
		transform: translateY(-50px);
	}
	100%{
		text-shadow: 0 0 30px rgba(0, 0, 0, 0);
	}
}


.p1{
	color: #304B70;
	text-align: center;
	font-size: 26px;
	margin: 18px 0px;
}
.dis-box{
	border: solid #E8E2DB 12px;
	padding: 10px;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 20%;
	margin-bottom: 50%;
}



.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

@media(prefers-reduced-motion){
	.hidden{
		transition: none;
	}
}

.show{
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}














/*Teir 3 Content*/



.tier3{
	margin-top: -30%;
	margin-bottom: 100px;
	margin-left: 3%;
	margin-right: 3%;
}


.intro-video{
	display: block;
	width: 38%;
	height: 400px;
	border: solid 9px #CABA9C;
}


.learnmore-box{
	display: block;
	border: solid 9px #CABA9C;
	background-color: #DFE2F1;
	padding: 80px;
	height: 400px;
	margin-left: 41%;
	margin-top: -29.5%;
	width: 28%;
	position: relative;
}
.learnmore-box:hover{
	background-image: url(images/lrnmore.jpg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s;
	border: #fff;

	.learnmore-txt{
		color: transparent;
	}
	.go1{
		color: #CBA351;
	}
}
.learnmore-txt{
	background-color: transparent;
	color: #304B70;
	font-size: 25px;
	text-align: center;
	margin-top: 25%;
	font-weight: bold;
}
.go1{
	color: transparent;
	text-decoration: none;
	background-color: transparent;
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
	margin-top: 11%;
}
.learnmore-box a{
	text-decoration: none;
}


.projects-box{
	display: block;
	border: solid 9px #CABA9C;
	background-color: #DFE2F1;
	padding: 80px;
	height: 400px;
	margin-left: 72%;
	margin-top: -29.5%;
	width: 28%;
	position: relative;
}
.projects-box:hover{
	background-image: url(images/projectrev.jpg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s;
	border: #fff;

	.projects-txt{
		color: transparent;
	}
	.go2{
		color: #CBA351;
	}
}
.projects-txt{
	background-color: transparent;
	color: #304B70;
	font-size: 25px;
	text-align: center;
	margin-top: 25%;
	font-weight: bold;
}
.go2{
	color: transparent;
	text-decoration: none;
	background-color: transparent;
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
	margin-top: 35%;
}
.projects-box a{
	text-decoration: none;
}

.navsym{
	visibility: hidden;
}
.arrowsym{
	visibility: hidden;
}






/*Scroll Bar*/




::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track{
	background: #EBBABD;
}
::-webkit-scrollbar-thumb{
	background: white;
	border-radius: 10px;
	opacity: 80%;
}













/*Responsive*/

@media screen and (max-width: 900px){

	nav a{
		font-size: 15px;
	}
	.header{

	}
	.greeting{
		font-size: 30px;
		margin-top: -170%;
		visibility: visible;
	}
	.disclaimer{
		margin-top: 80%;
	}
	.dis-box{
		margin-top: 50%;
	}
	.intro-video{
		width: 98%;
	}
	.learnmore-box{
		width: 98%;
		margin-left: 1%;
		margin-top: 30%;
	}
	.projects-box{
		width: 98%;
		margin-left: 1%;
		margin-top: 30%;
	}

	nav{
		margin: 0;
		visibility: hidden;
		max-width: 100%;
		position: relative;
		margin-top: 13%;
	}
	nav a{
		padding-top: 3%;
		padding-bottom: 3%;
		padding-right: 35%;
		margin-left: 2%;
		display: flow;
		padding-left: 70%;
		border: solid black 1px;
	}
	nav a:hover{
		font-size: 12px;
	}


	.navsym{
		visibility: visible;
		position: absolute;
		margin-top: -700%;
		margin-left: 70%;
		background-color: transparent;
	}
	.navsym:hover{
		background-color: rgba(237, 132, 172, 0.2);
	}

	.arrowsym{
		visibility: hidden;
		background-color: transparent;
		width: 100px;
		height: 15vh;
		margin-top: -710%;
		position: absolute;
		margin-left: 70%;
	}
	.arrowsym:hover{
		background-color: rgba(237, 132, 172, 0.2);
	}

}
	















}
